.title-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0px 1rem 1rem;
    width: 100%;
}
.boardData-container{
    /* overflow-x: visible !important; */
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
    align-content: flex-start;
    height: fit-content;
}
.board-container{
    min-height: 100vh;
    overflow-x:scroll;

}
.title-divider {
  width: 100%;
  height: 2px;                     
  background-color: var(--color-border, #ccc); 
  border-radius: 2px;               
  margin-top: 4px;
}